
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
box-sizing: border-box;
}



table,th,td{
        border: 4px solid black;
        text-align: center;
       
}td{
    padding: 10px;
}
